body,
html {
    --footer-color: rgba(88, 88, 88, 0.895);

    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    scrollbar-width: none;

}



body::-webkit-scrollbar {
    display: none;
}

.first_page {
    height: 100%;
    width: 100%;
    background-color: rgba(28, 24, 31, 0.6);
    /* background: rgba(5, 5, 5, 0.2); */
    background-image: url("https://images.pexels.com/photos/1181275/pexels-photo-1181275.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px 05% 0 05%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.navbor_menu {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.navbor_menu>li>a {
    color: white;
    text-decoration: none;
}

.navbor_menu>li {
    color: rgba(255, 255, 255, 0.82);
    padding-right: 32px;
    font-size: 14px;
    list-style-type: none;
}

#buy_now_button {
    padding: 5px;
    width: 95px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.82);
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.82);
    border-radius: 3px;
    cursor: pointer;
}

.social_icons {
    display: flex;
    width: 95px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-bottom: 12px;
}

.social_icons>i {
    font-size: 13px;
    /* margin-right: 20px; */
    color: rgba(255, 255, 255, 0.82);
    cursor: pointer;

}

.logo {
    font-size: 48px;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.82);
    font-weight: 500;
}

.main-container {
    height: 60%;
    max-width: 51%;
    text-align: center;
    margin: auto;
    margin-top: 05%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.main-container>h1 {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.main-container>p {
    text-align: center;

}

.about-me-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.about-me-text>h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 05px;
}

.divider {
    height: 1px;
    width: 60px;
    background-color: white;
    margin: 0 16px;
}