.packages-page{
    height: 100%;
    width: 100%;
    background: white;
    background-color: rgba(28, 24, 31, 0.6);
    background-image: url("https://images.pexels.com/photos/618158/pexels-photo-618158.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}