.portfolio-page {
    height: 110%;
    width: 100%;
    background: white;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.portfolio-text>h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 05px;
}

.portfolio-divider {
    height: 1px;
    width: 30px;
    background-color: black;
    margin: 0 16px;
}

.portfolio-page>h1 {
    font-size: 55px;
    margin: 16px 0px 40px 0px;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 40px 0px;
}

.categories>h5 {
    margin: 0;
    color: rgb(209, 209, 209);
    font-size: 18px;
    font-weight: 200;
}

.categories>a {
    text-decoration: none;
    color: rgb(168, 162, 162);
    margin: 0px 40px;
}

.images {
    height: 440px;
    width: 95%;
    display: grid;
    /* column-gap: 25px; */
    /* row-gap: 25px; */
    grid-template-columns: repeat(4, auto);
}

.images>img {
    margin: auto;
    height: 180px;
}